<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AllTestsSuite" verbose="1" parallel="false">

    <!-- Define a test group within the suite -->
    <test name="ProductTestSuite" preserve-order="true">

        <!-- Specify classes to include in the test -->
        <classes>
            <class name="demo.service.users.UsersTest">
                <methods>
                    <include name="postNewUserTest"/>
                    <include name="getUserNamesTest"/>
                    <include name="getUsersByPageNumberTest"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>