<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AllTestsSuite" verbose="1" parallel="false">

    <!-- Define a test group within the suite -->
    <test name="ProductTestSuite">

        <!-- Specify classes to include in the test -->
        <classes>
            <!-- Specify the test class and the exact method to run -->
            <class name="com.qa.testing.test.service.users.GetUsers">
                <methods>
                    <include name="testGetUsers" />
                </methods>
            </class>
        </classes>
    </test>

</suite>